# The public project token from PostHog's project settings (starts with phc_).
PUBLIC_POSTHOG_PROJECT_TOKEN=

# Use https://us.i.posthog.com for US Cloud or https://eu.i.posthog.com for EU Cloud.
PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
