---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkList from "@components/LinkList";

const title = `Links | ${SITE.title}`;
---

<Layout title={title}>
  <Header activeNav="links" />
  <main id="main-content">
    <section id="links" class="prose mb-28 max-w-3xl prose-img:border-0">
      <h1 class="text-2xl tracking-wider sm:text-3xl">Links</h1>
      <p class="mb-6 mt-2 italic">
        A curated list of blogs, articles, and resources.
      </p>

      <LinkList client:load />
    </section>
  </main>
  <Footer />
</Layout>

<style>
  #main-content {
    @apply mx-auto w-full max-w-3xl px-4 pb-12;
  }
  #links h1 {
    @apply font-bold text-skin-accent;
  }
</style>
